PranshuYadav_Hand Sign Recognition.pptx
tasmere-2021-ijca-921040.pdf
Dataset
Research papers
output.mp3
sample.txt
PranshuYadav_1018547 Synopsis.docx
images.jpg
Mid Term PPT.pptx
NewDataset
desktop.ini
CNN_model.json
CNN_model_Weights.h5
